<img class="card-img-top" [src]="product.imageUrl" alt="{{ product.name || 'Product Image' }}">
<div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.price | currency:'INR':true }}</p>
</div>
<div class="card-footer" *ngIf = "showActions && cart">
    <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
        <product-quantity [product]="product" [cart]="cart"></product-quantity>
    </ng-template>
</div>