.card-img-top {
    border-top-left-radius: 0em!important;
}

.card-footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 0em;
    border-radius: 0.25rem;

    .col-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .text-center {
        display: table;
        margin: auto;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }

    @media screen and (max-width: 500px) {
        .row.no-gutters div, .row.no-gutters .btn {
            font-size: x-large;
        }
    }
}

.card-body {
    margin-bottom: 30%;
}

.card-body:last-child {
    margin-bottom: unset;
}