@import "../../../colors";

@mixin full-width-button {
    width: 100%!important;
    margin-bottom: 5%;
}
.btn-save {
    @include full-width-button();
    background-color: $mainGreenColor;
    color: #ffffff;
}

.btn-outline-danger {
    @include full-width-button();
}

.btn-save:hover {
    background-color: $darkGreenColor;
}

label {
    font-weight: 500;
}

.card {
    width: 20rem;
    @media screen and (max-width: 500px) {
        width: 100%;
    }
}
