<a routerLink = "/admin/products/new" class="btn btn-primary">New Product</a>

<div class="input-group mb-3">
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search items...">
</div>

<div>

    <table mat-table [dataSource]="dataSource" class="table" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-sort-header> Name </th>
            <td *matCellDef="let product"> {{ product.name }} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th *matHeaderCellDef mat-sort-header> Price </th>
            <td *matCellDef="let product"> {{ product.price | currency:'INR':true}} </td>
        </ng-container>
      
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th *matHeaderCellDef></th>
            <td *matCellDef="let product">
                <a [routerLink]="['/admin/products/', product.key]">Edit</a>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>