@import "src/colors";

.btn-save {
    width: 100%!important;
    background-color: $mainGreenColor;
    color: #ffffff;
}

.btn-save:hover {
    background-color: $darkGreenColor;
}

.btn-save:disabled {
    cursor: no-drop;
}