<div class="row">
    <div class="col-md-3 col-xs-12">
        <product-filter [category] = "currentCategory"></product-filter>
    </div>
    <div class="col">
        <div class="card-group">
            <ng-container *ngFor="let product of filteredProducts; let index = index">
                <div class="card">
                    <product-card [product] = "product"></product-card>
                </div>
                <div class="w-100" *ngIf="(index + 1) % 3 === 0"></div>
            </ng-container>
        </div>        
    </div>
</div>
